# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
.idea
*.iml
*.ipr
*.iws

# building
target
build
null
tmp
temp
dist
test-output
build.log
results/
src/test/resources/mined-data/defendantMatch.csv
src/test/resources/data/createOutputVariables.csv
src/test/resources/data/caseNumber.csv

# misc
.DS_Store

# project files to ignore
!/results/.gitkeep
